---
layout: default
class: page-template
---
<div class="menu-wrap">
    <nav class="page-header__nav">
        <a href="javascript:void(0)" class="hamburguer" id="hamburguer__close">
            <div class="menui hamburguer__top-menu hamburguer__top-animate"></div>
            <div class="menui hamburguer__mid-menu hamburguer__mid-animate"></div>
            <div class="menui hamburguer__bottom-menu hamburguer__bottom-animate"></div>
        </a>
    </nav>

    <!-- <div class="search"> -->
        <!-- <section class="results" id="results"></section> -->
        <!-- <form class="search-form"> -->
            <!-- <input id="search-field" type="search" autocomplete="off" placeholder="Search anything..."> -->
            <!-- <a class="open-search icon-search" id="open-search" href="#"></a> -->
            <!-- <a class="close-search icon-close-search" id="close-search" href="#"></a> -->
        <!-- </form> -->
    <!-- </div> -->

    <div class="menu-side">
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/projetos">Projetos</a>
    </div>

    <a class="menu-side__subscribe" href="http://urban-themeghost.rhcloud.com/rss/"><span class="icon-feed"></span>inscreva-se</a>

    <!-- <div class="social-links">
        <a class="social-link i-google-plus" href="https://plus.google.com/"></a>
        <a class="social-link i-twitter" href="https://twitter.com/"></a>
        <a class="social-link i-facebook" href="https://www.facebook.com/"></a>
        <a class="social-link i-instagram" href="https://instagram.com/"></a>
        <a class="social-link i-pinterest" href="https://www.pinterest.com/"></a>
        <a class="social-link i-behance" href="https://www.behance.net/"></a>
        <a class="social-link i-dribbble" href="https://dribbble.com/"></a>
    </div> -->
</div>

<div class="content-wrap">
    <header class="page-header">
        <nav class="page-header__nav">
            <a href="javascript:void(0)" class="hamburguer" id="hamburguer__open">
                <div class="menui hamburguer__top-menu"></div>
                <div class="menui hamburguer__mid-menu"></div>
                <div class="menui hamburguer__bottom-menu"></div>
            </a>
        </nav>

        <div class="inner">
            <h1 class="page-header__title">{{ page.title }}</h1>
        </div>
    </header>

    <main class="content" role="main">
        <article class="page">
            <section class="page-content">{{content}}</section>
        </article>
    </main>

    {% include footer.html %}
</div>
