---
layout: default
title: Home
cover: /assets/images/wardrobe.jpg
---

<header class="main-header">
    <div class="vertical">
        <div class="main-header-content">
            <a href="/sobre"><h1 class="main-title">Kopplin</h1></a>
            <h2 class="page-description">
                {{ site.title }}.
            </h2>
            <div class="main-links">
                <a href="/sobre" class="main-anchors">sobre</a>
                <a href="#content" class="blog-down main-anchors">blog</a>
            </div>
        </div>
    </div>

    <!-- <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a> -->
</header>

<main id="content" class="content" role="main">
    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            </header>

            <section class="post-excerpt">
                {{ post.description }}
            </section>

            <footer class="post-meta">
                <img class="author-thumb" src="{{ site.picture }}" alt="Foto do autor" nopin="nopin" />
                <span itemprop="author">{{ site.name }}</span>
                {% if post.categories.size > 0 %}
                    em
                    {% for category in post.categories %}{% if forloop.last == false %}
                        {{ category }} e
                    {% else %}
                        {{ category }}
                    {% endif %}{% endfor %}
                {% endif %}
                <time class="post-date" datetime="{{ post.date | date:"%d-%m-%Y" }}">
                    {{ post.date | date_to_string }}
                </time>
            </footer>
        </article>
    {% endfor %}

    {% include pagination.html %}
</main>
