<section class="author">
    <div class="author__left">
        <img class="author__picture reyes" src="{{ site.picture }}" alt="">
    </div>

    <div class="author__right">
        <h4 class="author__name">{{ site.name }}</h4>
        <p class="author__bio">{{ site.bio }}</p>
        <p class="author__marker"><span class="icon-marker"></span><a href="http://google.com.br/search?q=barueri" target="_blank">Barueri - SP / Brasil</a></p>
        <p class="author__email"><span class="icon-link"></span><a href="mailto:sergiokopplin@gmail.com">sergiokopplin@gmail.com</a></p>
    </div>
</section>
