{% if page.class == 'page-template' %}
    <header class="page-header">
        <a href="javascript:void(0)" class="hamburguer" id="hamburguer__open">
            <div class="menui hamburguer__top-menu"></div>
            <div class="menui hamburguer__mid-menu"></div>
            <div class="menui hamburguer__bottom-menu"></div>
        </a>

        <div class="inner">
            <h1 class="page-header__title">{{ page.title }}</h1>
        </div>
    </header>
{% else %}
    <header class="post-header">
        <a href="javascript:void(0)" class="hamburguer" id="hamburguer__open">
            <div class="menui hamburguer__top-menu"></div>
            <div class="menui hamburguer__mid-menu"></div>
            <div class="menui hamburguer__bottom-menu"></div>
        </a>

        <div class="post-header__content">
            <div class="inner">
                <h1 class="post-header__title">{{ page.title }}</h1>

                <div class="post-header__meta">
                    <a href="#">{{ page.categories }}</a>
                    <time class="main-post__date" datetime="{{ page.date | date:"%d-%m-%Y" }}">{{ page.date | date: "%b, %Y" }}</time>
                </div>
            </div>

            {% if page.poster %}
                <a class="post-header__scroll-down icon-arrow-left"><span class="hidden">Scroll Down</span></a>
                <img src="{{ page.poster }}" alt="">
            {% endif %}
        </div>

    </header>
{% endif %}
