<div class="menu-wrap">
    <nav class="page-header__nav">
        <a href="javascript:void(0)" class="hamburguer fade" id="hamburguer__close">
            <div class="menui hamburguer__top-menu hamburguer__top-animate"></div>
            <div class="menui hamburguer__mid-menu hamburguer__mid-animate"></div>
            <div class="menui hamburguer__bottom-menu hamburguer__bottom-animate"></div>
        </a>
    </nav>

    <div class="menu-side">
        <a href="/">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="http://github.com/sergiokopplin" target="_blank">Projetos</a>
    </div>

    <a class="menu-side__subscribe" href="{{ site.baseurl }}feed.xml" target="_blank"><span class="icon-feed"></span>inscreva-se</a>

    <div class="social-links">
        <a class="icon-twitter" target="_blank" href="http://twitter.com/{{ site.twitter }}"></a>
        <a class="icon-facebook" target="_blank" href="http://facebook.com/{{ site.facebook }}"></a>
        <a class="icon-github" target="_blank" href="http://github.com/{{ site.githubProfile }}"></a>
        <a class="icon-youtube" target="_blank" href="http://youtube.com/{{ site.youtube }}"></a>
    </div>
</div>
