/* ==========================================================================
   4. General - The main styles for pages
   ========================================================================== */

.page-template {

    .page-header {
        position: relative;
        padding: 1rem 0 8rem;
        margin: 0 auto;

        .inner {
            width: 80%;
            max-width: 710px;
            text-align: center;
        }

        .page-header__title {
            font-family: $fontSans;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0;
            font-size: 6rem;
        }

        .page-header__nav {
            position: relative;
            padding: 35px 40px;
            margin: 0 0 30px 0;

            a {
                text-decoration: none;
                font-family: $fontSans;
            }
        }

        .page-header__back-button,
        .page-header__subscribe-button {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: inline-block;
            height: 38px;
            padding: 0 15px 0 10px;
            border: $gama 1px solid;
            color: $alpha;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 35px;
            transition: all ease 0.3s;

            &:before {
                position: relative;
                bottom: -2px;
                font-size: 13px;
                line-height: 0;
            }
        }

        .page-header__back-button {
            float: left;

            &:before {
                margin-right: 8px;
            }
        }

        .page-header__subscribe-button {
            float: right;

            &:before {
                margin-right: 6px;
            }
        }

        .page-header__back-button:hover,
        .page-header__subscribe-button:hover {
            border-color: $alpha;
            color: $alpha;
        }
    }

    .page {
        position: relative;
        width: 80%;
        max-width: 710px;
        margin: 4rem auto;
        padding-bottom: 4rem;
        border-bottom: #EBF2F6 1px solid;
        word-break: break-word;
        hyphens: auto;

        &:after {
            display: block;
            content: "";
            width: 7px;
            height: 7px;
            border: #E7EEF2 1px solid;
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -5px;
            background: #FFF;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            box-shadow: #FFF 0 0 0 5px;
        }
    }
}
