.main-post {
    position: relative;
    width: 80%;
    max-width: 610px;
    margin: 8rem auto;
    word-break: break-word;
    hyphens: auto;

    .main-post__title {
        font-family: $fontSerif;
        text-align: center;

        a {
            text-decoration: none;
        }
    }

    .main-post__title-poster {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;

        a {
            color: #fff;
        }
    }

    .main-post__poster {
        width: 120%;
        margin: 0 -10%;
        height: 300px;
        display: block;
        text-indent: -9999px;
        background-size: cover !important;
        background-position: center;
    }

    .main-post__meta {
        display: block;
        margin: 3rem 0 0;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $alpha;
        text-align: center;

        a {
            color: $alpha;
            text-decoration: none;
            line-height: 1;
            display: inline-block;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease;

            &:hover {
                border-bottom: 2px solid $alpha;
            }
        }

        .main-post__date {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.3rem;
            white-space: nowrap;

            &:before {
                content: "·";
                margin-right: 10px;
            }
        }
    }

    .main-post__meta-poster {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        color: #fff;
        display: block;
        width: 200px;
        margin: 0 auto;
        border: 2px solid #fff;
    }

    hr {
        width: 20%;
        margin: 6rem auto;
    }
}
