.main-post {
    position: relative;
    width: 80%;
    max-width: 610px;
    margin: 8rem auto;
    word-break: break-word;
    hyphens: auto;

    .main-post__title {
        font-family: $fontSerif;
        text-align: center;
        font-size: 5rem;

        a {
            text-decoration: none;
        }
    }

    .main-post__meta {
        display: block;
        margin: 3rem 0 0;
        font-family: sans-serif;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $alpha;
        text-align: center;

        a {
            color: $alpha;
            text-decoration: none;
            line-height: 1;
            display: inline-block;
            border-bottom: 2px solid transparent;
            transition: all 0.2s ease;

            &:hover {
                border-bottom: 2px solid $alpha;
            }
        }

        .main-post__date {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.3rem;
            white-space: nowrap;

            &:before {
                content: "·";
                margin-right: 10px;
            }
        }
    }

    .main-post__poster {
        width: 120%;
        margin: 0 -10%;
        height: 300px;
        position: relative;
        // box-shadow: rgba(34,34,34,.2) 0 8px 15px;
        overflow: hidden;

        .main-post__title {
            position: absolute;
            top: 120px;
            left: 0;
            right: 0;
        }

        .main-post__img {
            text-align: center;
            display: block;
            margin: 0 auto;
            vertical-align: middle;
            width: 100%;
        }

        .main-post__star {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
            width: 0;
        	height: 0;
        	border-top: 50px solid gold;
        	border-left: 50px solid transparent;
            z-index: 99;

            &:before {
                position: absolute;
                top: -46px;
                right: 4px;
                text-shadow: 2px 2px 1px rgba(0,0,0,0.1);
            }
        }
    }

    .main-post__title-dark,
    .main-post__meta-dark,
    .main-post__meta-dark a,
    .main-post__meta-dark time {
        color: #fff !important;
        border-color: #fff !important;
    }

    .main-post__title-dark,
    .main-post__meta-dark a,
    .main-post__meta-dark time {
        text-shadow: 0 0px 20px $beta;
    }

    .main-post__title-light,
    .main-post__meta-light,
    .main-post__meta-light a,
    .main-post__meta-light time {
        color: $beta !important;
        border-color: $beta !important;
    }

    .main-post__title-light,
    .main-post__meta-light a,
    .main-post__meta-light time {
        text-shadow: 0 0px 10px rgba(255, 255, 255, .3);
    }

    .main-post__meta-dark,
    .main-post__meta-light {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        display: block;
        width: 200px;
        margin: 0 auto;
        border-width: 2px;
        border-style: solid;
    }

    hr {
        width: 40%;
        margin: 8rem auto;
    }
}
