---
# Only the main Sass file needs front matter (the dashes are enough)
---

// ~ Fonts
$fontSans: "Montserrat", Verdana, sans-serif;
$fontSerif: "Cardo", Georgia, serif;
$fontMonospace: "";

// ~ Base
@import "normalize";
@import "icons";

// ~ App Css
@import "screen";

// ~ Others
@import "animate";
@import "syntax";

/* We need to add display:inline in order to align the '>>' of the 'read more' link */

$preto: #41413f;
