---
# Only the main Sass file needs front matter (the dashes are enough)
---

// ~ Fonts
$fontSans: "Montserrat", Verdana, sans-serif;
$fontSerif: "Cardo", Georgia, serif;
$fontMonospace: "Monaco", "Consolas", "Inconsolata", monospace, sans-serif;

// ~ Base
@import "00-normalize";
@import "01-icons";
@import "02-general";
@import "03-utilities";

// ~ App Css
@import "04-theme";
@import "05-post";
@import "06-author";
@import "07-third-part";
@import "08-pagination";
@import "09-footer";
@import "10-media-queries-500";
@import "11-media-queries-900";

// ~ Others
@import "12-animate";
@import "13-syntax";
