.author {
    width: 100%;
    padding: 4rem 0 0;
    height: 200px;
    border-bottom: 4px solid $gama;

    .author__picture {
        max-width: 140px;
        border-radius: 100%;
    }

    .author__name {
        font-size: 2.5rem;
        font-family: $fontSerif;
        font-weight: bold;
    }

    .author__bio {
        font-family: $fontExtra;
        font-weight: normal;
        color: $epsilon;
        font-size: 14px;
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .author__marker,
    .author__email {
        font-weight: normal;
        color: $epsilon;
        font-size: 13px;
        display: inline-block;
        font-family: $fontExtra;

        a {
            color: inherit;
            text-decoration: none;
        }

        span {
            font-size: 2rem;
            position: relative;
            top: 3px;
        }
    }

    .author__email {
        margin-left: 2rem;

        a {
            color: $zeta;
        }

        span {
            margin-right: 5px;
        }
    }

    .author__left {
        width: 27%;
        float: left;
    }

    .author__right {
        width: 73%;
        float: left;
    }
}
