.author {
    width: 100%;
    padding: 4rem 0;
    border-bottom: 2px solid $gama;

    @media #{$small} {
        padding: 2rem 2rem;
        box-sizing: border-box;
    }

    .author__picture {
        max-width: 100px;
        border-radius: 100%;

        @media #{$small} {
            max-width: 60px;
        }
    }

    .author__name {
        font-size: 2.5rem;
        font-family: $fontSerif;
        font-weight: bold;

        @media #{$small} {
            font-size: 1.9rem;
        }
    }

    .author__bio {
        font-family: $fontExtra;
        font-weight: normal;
        color: $epsilon;
        font-size: 14px;
        text-align: justify;
        line-height: 1.5;
        margin-bottom: 1rem;

        @media #{$small} {
            font-size: 13px;
            line-height: 1.3;
        }

        @media #{$medium} {
            padding: 0 10px 0;
        }
    }

    .author__marker,
    .author__email {
        font-weight: normal;
        color: $epsilon;
        font-size: 13px;
        display: inline-block;
        font-family: $fontExtra;
        margin: 0;

        @media #{$small} {
            width: 100%;
            margin: 0 !important;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        span {
            font-size: 2rem;
            position: relative;
            top: 3px;
        }
    }

    .author__email {
        margin-left: 2rem;

        a {
            color: $zeta;
        }

        span {
            margin-right: 5px;
        }
    }

    .author__left {
        width: 20%;
        display: inline-block;

        @media #{$small} {
            width: 19%;
        }
    }

    .author__right {
        width: 79%;
        display: inline-block;
        vertical-align: top;

        // @media #{$small} {
        //     width: 100%;
        // }

        // @media #{$medium} {
        //     width: 72%;
        // }
    }
}
