.menu-wrap {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    text-align: center;
    background-color: #222;
    box-shadow: inset rgba(0, 0, 0, 0.6) -10px 0 20px;

    .close {
        height: 50px;
        margin-bottom: 1rem;

        a {
            z-index: 999;
            position: fixed;
            display: block;
            padding: 0px 1px 0px 7px;
            height: 60px;
            width: 60px;
            margin: 0px;
            top: 0;
            left: 0;
            box-sizing: border-box;
        }
    }

    .menu-side {
        display: block;
        margin-top: 6rem;

        a {
            margin-bottom: 1rem;
            color: #fff;
            text-decoration: none;
            border-bottom: 3px solid transparent;
            font-family: $fontSans;
            width: auto;
            margin: 0 auto 11px 17px;
            padding: 0px 0px 0px;
            transition: all ease-in-out .3s;
            clear: both;
            float: left;

            &:hover {
                border-bottom-color: #fff;
            }
        }
    }

    .social-links {
        display: block;
        position: absolute;
        top: 250px;
        left: 15px;

        a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            margin-right: 15px;
        }
    }

    .menu-side__subscribe {
        position: absolute;
        bottom: 35px;
        left: 5%;
        color: $beta;
        text-decoration: none;
        border: 3px solid #fff;
        background: #fff;
        margin: 0 5%;
        box-sizing: border-box;
        width: 75%;
        padding: 5px 0;
        transition: ease-in-out all .2s;
        box-shadow: rgba(0,0,0,.6) 0 12px 50px;

        span {
            position: relative;
            font-size: 14px;
            margin: -8px 13px 7px 0px;
            display: inline-block;
            top: -1px;
        }
    }
}

.show-menu .content-wrap {
    transform: translate3d(250px,0,0);
}

.content-wrap {
    transition-duration: .3s;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
}
