.related {
    position: relative;
    width: 100%;
    border-bottom: 2px solid $gama;
    padding: 4rem 0;

    .related__span {
        font-size: 14px;
        font-family: arial, sans-serif;
        display: inline-block;
        background: $beta;
        color: #fff;
        padding: 1px 9px;
        position: absolute;
        z-index: 99;
        top: 50px;
        left: -70px;

        @media #{$small} {
            left: 0;
        }

        @media #{$medium} {
            left: 0;
        }
    }

    .main-post {
        margin: 0;
        width: 120%;

        @media #{$small} {
            width: 100%;
        }

        @media #{$medium} {
            width: 100%;
        }

        .main-post__poster {
            width: 120%;
            margin: 0 -10%;
            // height: 300px;

            @media #{$extraSmall} {
                width: 100%;
                margin: 0;
                height: 212px;;
            }

            @media #{$small} {
                width: 100%;
                margin: 0;
            }

            @media #{$medium} {
                width: 100%;
                margin: 0;
            }
        }
    }

    .main-post__title {
        font-size: 40px;

        @media #{$small} {
            font-size: 25px;
            top: 88px !important;
        }
    }
}
