---
layout: default
post_class: post-template post-archives
sobre: true
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Inscreva-se</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Categorias</h1>
            <h2 class="page-description">Encontre uma categoria abaixo e veja todos os posts relacionados.</h2>.</h2>
        </div>
    </div>
</header>

<main class="content" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <article class="post">
        <section class="post-content">
            {% for category in site.categories %}
                <article class="post-list" id="{{ category[0] }}" role="article" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <h2>{{ category[0] }}:</h2>
                    {% for posts in category %}
                        {% for post in posts %}
                            {% if post.url %}
                                <a href="{{ post.url }}" itemprop="url"><span itemprop="headline">{{ post.title }}</span><span class="post-list-data" itemprop="datePublished" content="12-12-2012">{{ post.date | date_to_string }}</span></>
                                <img src="{{ site.url }}/assets/images/{{ post.img }}" alt="{{ post.title }} - Imagem" class="hidden" itemprop="image">        
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </article>
            {% endfor %}
        </section>
  </article>
</main>
