<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.name }} - {{ site.title }}<{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.bio }}{% endif %}">
    <meta name="description" content="{{ site.bio }}." />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Authorship Markup -->
    <meta name="google-site-verification" content="7xaXzuAPIOrhqhgmxqvOubxZ5GH0eiinoDEb9MUO9TQ" />

    <!-- Social: Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.img %}
    <meta property="twitter:image:src" content="{{ site.url }}/assets/images/{{page.img }}">
    {% else %}
    <meta property="twitter:image:src" content="{{ site.url }}{{ site.picture }}">
    {% endif %}

    <!-- Social: Facebook / Open Graph -->
    <meta property="fb:admins" content="100001982703168" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% if page.img %}
    <meta property="og:image" content="{{ site.url }}/assets/images/{{ page.img }}">
    {% else %}
    <meta property="og:image" content="{{ site.url }}{{ site.picture }}">
    {% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:site_name" content="{{ site.name }}">

    <!-- Social: Google+ / Schema.org  -->
    <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta itemprop="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ site.url }}{{ site.picture }}"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.url }}/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Schema -->
    <script type="application/ld+json">
    {% if page.categories %}
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        "url": "{{ site.url }}{{ page.url }}",
        "keywords": "{% for keyword in page.keywords %}{% if forloop.last == false %}{{ keyword }},{% else %}{{ keyword }}{% endif %}{% endfor %}",
        "image": "{{ site.url }}/assets/images/{{ page.img }}",
        "thumbnailUrl": "{{ site.url }}/assets/images/{{ page.img }}",
        "datePublished": "{{ page.date }}",
        "description": "{{ page.description }}",
        "publisher": "{{ site.name }}",
        "interactionCount": "{{ site.url }}{{ page.url }}#disqus_thread",
        "author": {
            "@type": "Person",
            "name": "{{ site.name }}",
            "image": "{{ site.url }}{{ site.picture }}",
            "url": "{{ site.url }}/sobre/",
            "sameAs": null,
            "description": null
        },
        "mentions": [
            {% for rel in page.related %}
                {% if forloop.last == false %}
                    {
                        "@type": "Thing",
                        "name": "{{ rel.title }}",
                        "url": "{{ rel.url }}"
                    },
                {% else %}
                    {
                        "@type": "Thing",
                        "name": "{{ rel.title }}",
                        "url": "{{ rel.url }}"
                    }
                {% endif %}
            {% endfor %}
        ]
    }
    {% elsif page.title == 'Home' %}
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "blogPost":
        [
            {% for post in paginator.posts %}
                {% if forloop.last == false %}
                    {
                        "headline": "{{ post.title }}",
                        "url": "{{ site.url }}{{ post.url }}",
                        "keywords": "{% for keyword in post.keywords %}{% if forloop.last == false %}{{ keyword }},{% else %}{{ keyword }}{% endif %}{% endfor %}",
                        "image": "{{ site.url }}/assets/images/{{ post.img }}",
                        "thumbnailUrl": "{{ site.url }}/assets/images/{{ post.img }}",
                        "datePublished": "{{ post.date }}",
                        "description": "{{ post.description }}",
                        "publisher": "{{ site.name }}",
                        "interactionCount": "{{ site.url }}{{ post.url }}#disqus_thread",
                        "author": {
                            "@type": "Person",
                            "name": "{{ site.name }}",
                            "image": "{{ site.url }}{{ site.picture }}",
                            "url": "{{ site.url }}/sobre/",
                            "sameAs": null,
                            "description": null
                        }
                    },
                {% else %}
                    {
                        "headline": "{{ post.title }}",
                        "url": "{{ site.url }}{{ post.url }}",
                        "keywords": "{% for keyword in post.keywords %}{% if forloop.last == false %}{{ keyword }},{% else %}{{ keyword }}{% endif %}{% endfor %}",
                        "image": "{{ site.url }}/assets/images/{{ post.img }}",
                        "thumbnailUrl": "{{ site.url }}/assets/images/{{ post.img }}",
                        "datePublished": "{{ post.date }}",
                        "description": "{{ post.description }}",
                        "publisher": "{{ site.name }}",
                        "interactionCount": "{{ site.url }}{{ post.url }}#disqus_thread",
                        "author": {
                            "@type": "Person",
                            "name": "{{ site.name }}",
                            "image": "{{ site.url }}{{ site.picture }}",
                            "url": "{{ site.url }}/sobre/",
                            "sameAs": null,
                            "description": null
                        }
                    }
                {% endif %}
            {% endfor %}
        ]
    }
    {% elsif page.title == 'Sobre mim' %}
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "{{ site.url }}{{ page.url }}",
        "description": "{{ site.bio }}",
        "founder": {
            "@type": "Person",
            "name": "{{ site.name }}",
            "url": "http://facebook.com/{{ site.facebook }}",
            "email": "mailto:{{ site.email }}"
        }
    }
    {% else %}
    {
        "@context": "http://schema.org",
        "@type": "Blog",
        "url": "{{ site.url }}",
        "description": "{{ site.bio }}"
    }
    {% endif %}
    </script>

    {% if page.keywords %}
    <meta name="keywords" content="{% for keyword in page.keywords %}{% if forloop.last == false %}{{ keyword }},{% else %}{{ keyword }}{% endif %}{% endfor %}" />
    {% else %}
    <meta name="keywords" content="{% for keyword in site.keywords %}{% if forloop.last == false %}{{ keyword }},{% else %}{{ keyword }}{% endif %}{% endfor %}" />
    {% endif %}

    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}{{ "/feed.xml" }}" />

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body class="{% if page.class %}{{page.class}}{% else %}home-template{% endif %}">

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/assets/js/trianglify.min.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>

    <!-- Google Analytics Tracking code -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.analytics }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
