---
layout: default
class: page-template
---

<header class="page-header">
    <div class="inner">
        <h1 class="page-header__title">{{ page.title }}</h1>
    </div>

    <nav class="page-nav clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Inscreva-se</a>
    </nav>
</header>

<main class="content" role="main">
    <article class="post">
        <section class="post-content">{{content}}</section>
    </article>
</main>
