---
layout: default
class: page-template
---

<header class="page-header">
    <nav class="page-header__nav">
        <div class="mobile-nav">
            <li><a href="{{ site.baseurl }}">HOME</a></li>
            <li><a href="{{ site.baseurl }}sobre">SOBRE</a></li>
            <li><a href="{{ site.baseurl }}feed.xml">FEED</a></li>
        </div>

        <a href="javascript:void(0)" class="hamburguer">
            <div class="menui hamburguer__top-menu"></div>
            <div class="menui hamburguer__mid-menu"></div>
            <div class="menui hamburguer__bottom-menu"></div>
        </a>
    </nav>

    <div class="inner">
        <h1 class="page-header__title">{{ page.title }}</h1>
    </div>
</header>

<main class="content" role="main">
    <article class="page">
        <section class="page-content">{{content}}</section>
    </article>
</main>
