---
layout: default
---

{% include menu.html %}

<div class="content-wrap">

    {% include header.html %}

    <article class="post" role="article">
        <section class="post-content" id="content">
            {{content}}

            {% include related.html %}

            {% include share.html %}
        </section>

        <footer class="post-footer">
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}" style="background-image: url({{ site.picture }})"></a>
            </figure>

            {% include author.html %}

            <div class="clearfix"></div>

            {% include disqus.html %}

            {% include footer.html %}
        </footer>
    </article>
</div>
