.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.hidden {
    text-indent: -9999px;
    visibility: hidden;
    display: none;
}

.inner {
    position: relative;
    width: 80%;
    max-width: 710px;
    margin: 0 auto;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;
}
