// ~ Fonts
$fontSans: "Montserrat", Verdana, sans-serif;
$fontSerif: "Cardo", Georgia, serif;
$fontMonospace: "Monaco", "Consolas", "Inconsolata", monospace, sans-serif;
$fontExtra: arial, sans-serif;

// ~ Colors
$alpha:   #424242;

$beta:    #222222;
$gama:    #edf0f1;
$delta:   #dbddde;
$epsilon: #807c7c;
$zeta:    #3b5998;

// ~ media queries
$small:      "screen and (max-width: 568px)";
$medium:     "screen and (min-width: 569px) and (max-width: 768px)";
$large:      "screen and (min-width: 769px) and (max-width: 1024px)";
$extraLarge: "screen and (min-width: 1280px)";
