// ~ Fonts
$fontSans: "Montserrat", Verdana, sans-serif;
$fontSerif: "Cardo", Georgia, serif;
$fontMonospace: "Monaco", "Consolas", "Inconsolata", monospace, sans-serif;
$fontExtra: arial, sans-serif;

// ~ Colors
$alpha: #424242;

$beta: #222;
$gama: #edf0f1;
$delta: #dbddde;
$epsilon: #807c7c;
